    ul{
        border:0; margin:0; padding:0;
    }

    #pagination li{
        margin:0; 
        padding:0;
        list-style:none;
    }

    #pagination a{
        margin-right:2px;
    }

    #pagination .previous-disabled,
    #pagination .next-disabled{
        color: #666;
        background-color:#999;
        margin:2px;
        text-align:center;
        display:block;
        float:left;
        font-weight:bold;
        margin:2px;
        padding:4px 6px;
        cursor:no-drop;
    }

    #pagination .next a,
    #pagination .previous a {
        font-weight:bold;
        padding:4px 6px;
        xborder:solid 1px #FFFFFF;
    }

    #pagination .active{
        margin:2px;
        padding:4px 6px;
        color: white;
        background-color: #59B614;
        text-align:center;
        display:block;
        float:left;
        font-weight:bold;
        cursor: copy;
    }

    #pagination a:link,
    #pagination a:visited {
        padding:4px 6px;
        color: white;
        background-color: #4EA6B8;
        margin:2px;
        text-align:center;
        display:block;
        float:left;
        font-weight:bold;
        cursor: pointer;
    }

    #pagination a:hover{
        opacity:0.7;
        xborder:solid 1px #666666;
    }
