#php_flag display_errors off
Options -Indexes
#indexIgnore *

RewriteEngine On
#ErrorDocument 404 /404.html
ErrorDocument 404 Maaf-halaman-tidak-ditemukan

	RewriteRule   ^home/?$   									index.php?page=vhome
	
	#refrensi
	RewriteRule   ^lokasi/?$   									index.php?page=vlokasi
	RewriteRule   ^klasifikasi/?$   							index.php?page=vklasifikasi
	RewriteRule   ^bahasa/?$   									index.php?page=vbahasa
	RewriteRule   ^penerbit/?$   								index.php?page=vpenerbit
	RewriteRule   ^perangkat/?$   								index.php?page=vperangkat
	RewriteRule   ^pengarang/?$   								index.php?page=vpengarang
	RewriteRule   ^satuan/?$   									index.php?page=vsatuan
	RewriteRule   ^tingkatbuku/?$   							index.php?page=vtingkatbuku
	RewriteRule   ^jenisbuku/?$   								index.php?page=vjenisbuku

	#inventaris
	RewriteRule   ^katalog/?$   								index.php?page=vkatalog
	RewriteRule   ^koleksi/?$   								index.php?page=vkoleksi
	RewriteRule   ^data-anggota/?$ 								index.php?page=vanggota
	RewriteRule   ^sirkulasi/?$   								index.php?page=vsirkulasi
	RewriteRule   ^stok-opname/?$ 								index.php?page=vstok-opname
	RewriteRule   ^opac/?$		   								index.php?page=vopac

	RewriteRule   ^keluar/?$ 									index.php?page=logout 

# Send all blocked request to homepage with 403 Forbidden error!
#RewriteRule ^(.*)$ index.php [F,L]