#php_flag display_errors off


RewriteEngine On
#ErrorDocument 404 /404.html
ErrorDocument 404 Maaf-halaman-tidak-ditemukan

	RewriteRule   ^home/?$   									index.php?page=vhome
	RewriteRule   ^kriteria-calon-siswa/?$   					index.php?page=vkriteriaCalonSiswa
	RewriteRule   ^golongan-calon-siswa/?$   					index.php?page=vgolonganCalonSiswa
	RewriteRule   ^set-biaya-calon-siswa/?$   					index.php?page=vsetBiayaCalonSiswa
	RewriteRule   ^set-angsuran/?$   							index.php?page=vsetAngsuran
	RewriteRule   ^set-diskon/?$   								index.php?page=vsetDiskon
	RewriteRule   ^proses/?$  				 					index.php?page=vproses
	RewriteRule   ^kelompok/?$				   					index.php?page=vkelompok
	RewriteRule   ^pendataan/?$				   					index.php?page=vpendataan
	RewriteRule   ^penerimaan/?$			   					index.php?page=vpenerimaan
	RewriteRule   ^keluar/?$ 									index.php?page=logout 

# Send all blocked request to homepage with 403 Forbidden error!
#RewriteRule ^(.*)$ index.php [F,L]