#php_flag display_errors off
Options -Indexes
#indexIgnore *

RewriteEngine On
#ErrorDocument 404 /404.html
ErrorDocument 404 Maaf-halaman-tidak-ditemukan

	RewriteRule   ^home/?$   									index.php?page=vhome

	#refrensi
	RewriteRule   ^dokumen/?$   								index.php?page=vdokumen
	RewriteRule   ^golongan/?$   								index.php?page=vgolongan
	#RewriteRule   ^biaya/?$   									index.php?page=vbiaya
	#RewriteRule   ^detail-biaya/?$   							index.php?page=vdetailbiaya
	#RewriteRule   ^angsuran/?$		   							index.php?page=vangsuran
	RewriteRule   ^diskon/?$   								index.php?page=vdiskon
	RewriteRule   ^detail-diskon/?$   							index.php?page=vdetaildiskon

	#transaksi keuangan
	RewriteRule   ^reminder-ultah/?$  				 			index.php?page=vreminderultah
	RewriteRule   ^rekapitulasi-siswa/?$				   		index.php?page=vrekapitulasisiswa
	RewriteRule   ^gelombang/?$				   					index.php?page=vgelombang
	RewriteRule   ^detail-gelombang/?$				   			index.php?page=vdetailgelombang
	RewriteRule   ^siswa/?$				   						index.php?page=vsiswa
	RewriteRule   ^penerimaan/?$			   					index.php?page=vpenerimaan
	RewriteRule   ^keluar/?$ 									index.php?page=logout 

	RewriteRule   ^keluar/?$ 									index.php?page=logout 

# Send all blocked request to homepage with 403 Forbidden error!
#RewriteRule ^(.*)$ index.php [F,L]